# Trained model stored on Hugging Face
saved_summary_model/

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Training outputs
results/

# macOS
.DS_Store

# VS Code
.vscode/